@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

#myApp {
  border-radius: 20px;
  border: solid #000;
  width: 100%;
  max-width: 740px;
}

.filter-header {
  border-radius: 10px;
  box-shadow: 2px 2px 10px 10px #efefef;
}

.center-icon {
  display: flex;
  align-self: center;
}

.search-box {
  border: none;
  border-bottom: solid #000;
  transition: border-bottom 0.5s ease-in-out;
}

input.search-box:focus {
  outline: none;
  border-bottom: solid #ff0000;
}

a {
  text-decoration: none;
  color: black;
}
a:hover,
a:link,
a:visited {
  color: black;
}
.book-container {
  border-radius: 10px;
  background-color: #f5f5f5;
  transition: background-color 0.5s ease-in-out;
}

.book-container:hover {
  background-color: #0000ff;
}
